# 1
If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.

Find the sum of all the multiples of 3 or 5 below 1000.

In [15]:
tot = 0
for i in range(1,10):
     
    if  i% 3 == 0 or i % 5 == 0 :
        tot = tot+ i
print(tot)

23

In [16]:
tot = 0
for i in range(1,1000):
     
    if  i% 3 == 0 or i % 5 == 0 :
        tot = tot+ i
print(tot)

233168

# 2
Each new term in the Fibonacci sequence is generated by adding the previous two terms. By starting with 1 and 2, the first 10 terms will be:

1, 2, 3, 5, 8, 13, 21, 34, 55, 89, ...

By considering the terms in the Fibonacci sequence whose values do not exceed four million, find the sum of the even-valued terms.

In [19]:
fib_list = [0,1]
i = 1
while i < 9:
    fib_list.append(fib_list[i-1] + fib_list[i])
    i +=1
print(fib_list)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [19]:
# fibonnaci series of terms

In [23]:
fib_list = [0,1]
sum_even_terms = 0
while (fib_list[-1] + fib_list[-2]) < 4000000:
    
    fib_list.append(fib_list[-1] + fib_list[-2])
    
print(fib_list) 
print()
for i in fib_list:
    
    if  i % 2 == 0:
        sum_even_terms += i
print(' sum of the even-valued terms. : ',sum_even_terms)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578]

 sum of the even-valued terms. :  4613732

# 3
The prime factors of 13195 are 5, 7, 13 and 29.

What is the largest prime factor of the number 600851475143 ?

In [24]:
def prime_factors(n):
    i = 2
    factors = []
    while i * i <= n:
        if (n % i) > 0:
            
            i += 1
            
        else:
            n  = n // i
            
            factors.append(i)
    if n > 1:
        factors.append(n)
    return factors[-1]

In [26]:
print(' largest prime factor of the number 600851475143 is : ')
prime_factors(600851475143)

 largest prime factor of the number 600851475143 is :

6857

# 4
A palindromic number reads the same both ways. The largest palindrome made from the product of two 2-digit numbers is 9009 = 91 × 99.

Find the largest palindrome made from the product of two 3-digit numbers.

In [146]:
prod_num = []
palindrome_nums = []

for i in range (100, 1000):
    for j in range (100, 1000):
        prod_num.append(i * j)
for i in prod_num:        
    if list(str(i)) == list(reversed(str(i))):
        palindrome_nums.append(i)
print(max(palindrome_nums))

906609

# 5
2520 is the smallest number that can be divided by each of the numbers from 1 to 10 without any remainder.

What is the smallest positive number that is evenly divisible by all of the numbers from 1 to 20?

In [29]:
def gcd(a,b):
    """Compute the greatest common divisor of a and b"""
    while b > 0:
        a, b = b, a % b
    return a
    
def lcm(a, b):
    """Compute the lowest common multiple of a and b"""
    return a * b / gcd(a, b)

n = 1
for i in range(1, 21):
    n = lcm(n, i)
print(n)

232792560.0

# 6
The sum of the squares of the first ten natural numbers is,

12 + 22 + ... + 102 = 385
The square of the sum of the first ten natural numbers is,

(1 + 2 + ... + 10)2 = 552 = 3025
Hence the difference between the sum of the squares of the first ten natural numbers and the square of the sum is 3025 − 385 = 2640.

Find the difference between the sum of the squares of the first one hundred natural numbers and the square of the sum.

In [209]:
sum_of_square = 0
tot = 0
square_of_sum =  0
for i in range(1,11):
    sum_of_square += (i * i)
    
    tot += i 
print('Sum of Square is ', sum_of_square)
square_of_sum = tot * tot
print('Square of sum is ',square_of_sum)
print('Difference is ',square_of_sum - sum_of_square )

Sum of Square is  385
Square of sum is  3025
Difference is  2640

In [11]:
sum_of_square = 0
tot = 0
square_of_sum =  0
for i in range(1,101):
    sum_of_square += (i * i)
    
    tot += i 
print('Sum of Square is ', sum_of_square)
square_of_sum = tot * tot
print('Square of sum is ',square_of_sum)
print('Difference is ',square_of_sum - sum_of_square )

Sum of Square is  338350
Square of sum is  25502500
Difference is  25164150

# 7
By listing the first six prime numbers: 2, 3, 5, 7, 11, and 13, we can see that the 6th prime is 13.

What is the 10 001st prime number?

In [15]:
prime_list = []
num = 2 # prime numbers are greater than 1
while len(prime_list) != 10001:
   
       # check for factors
    for i in range(2,int(math.sqrt(num) + 1)):
        if (num % i) == 0: # is not a prime number

            break
    else:
        prime_list.append(num)
    num += 1       
print(prime_list[-1])

104743

# 8
The four adjacent digits in the 1000-digit number that have the greatest product are 9 × 9 × 8 × 9 = 5832.

73167176531330624919225119674426574742355349194934
96983520312774506326239578318016984801869478851843
85861560789112949495459501737958331952853208805511
12540698747158523863050715693290963295227443043557
66896648950445244523161731856403098711121722383113
62229893423380308135336276614282806444486645238749
30358907296290491560440772390713810515859307960866
70172427121883998797908792274921901699720888093776
65727333001053367881220235421809751254540594752243
52584907711670556013604839586446706324415722155397
53697817977846174064955149290862569321978468622482
83972241375657056057490261407972968652414535100474
82166370484403199890008895243450658541227588666881
16427171479924442928230863465674813919123162824586
17866458359124566529476545682848912883142607690042
24219022671055626321111109370544217506941658960408
07198403850962455444362981230987879927244284909188
84580156166097919133875499200524063689912560717606
05886116467109405077541002256983155200055935729725
71636269561882670428252483600823257530420752963450

Find the thirteen adjacent digits in the 1000-digit number that have the greatest product. 

What is the value of this product?

In [237]:
num = ('\
73167176531330624919225119674426574742355349194934\
96983520312774506326239578318016984801869478851843\
85861560789112949495459501737958331952853208805511\
12540698747158523863050715693290963295227443043557\
66896648950445244523161731856403098711121722383113\
62229893423380308135336276614282806444486645238749\
30358907296290491560440772390713810515859307960866\
70172427121883998797908792274921901699720888093776\
65727333001053367881220235421809751254540594752243\
52584907711670556013604839586446706324415722155397\
53697817977846174064955149290862569321978468622482\
83972241375657056057490261407972968652414535100474\
82166370484403199890008895243450658541227588666881\
16427171479924442928230863465674813919123162824586\
17866458359124566529476545682848912883142607690042\
24219022671055626321111109370544217506941658960408\
07198403850962455444362981230987879927244284909188\
84580156166097919133875499200524063689912560717606\
05886116467109405077541002256983155200055935729725\
71636269561882670428252483600823257530420752963450')

In [272]:
import pandas as pd

df = pd.DataFrame(columns = ['digits', 'product'])

In [273]:

start = 0
end = start+4

while end < 1000:
    prod = 1
    mult_value = 1
    sequence = num[start:end]
    for i in sequence:
        prod *= int(i)   
    
    df = df.append({'digits':list(str(sequence)), 'product' : prod }, ignore_index=True)
    start += 1
    end += 1

In [276]:
df.sort_values(by= 'product', ascending = False ).head(1)

           digits product
615  [9, 9, 8, 9]    5832

In [277]:
df = pd.DataFrame(columns = ['digits', 'product'])

In [278]:

start = 0
end = start+ 13

while end < 1000:
    prod = 1
    mult_value = 1
    sequence = num[start:end]
    for i in sequence:
        prod *= int(i)   
    
    df = df.append({'digits':list(str(sequence)), 'product' : prod }, ignore_index=True)
    start += 1
    end += 1

In [279]:
df.sort_values(by= 'product', ascending = False ).head(1)

                                      digits      product
197  [5, 5, 7, 6, 6, 8, 9, 6, 6, 4, 8, 9, 5]  23514624000

In [290]:
top = df.sort_values(by= 'product', ascending = False ).head(1)
top

                                      digits      product
197  [5, 5, 7, 6, 6, 8, 9, 6, 6, 4, 8, 9, 5]  23514624000

In [289]:
top.digits.apply(pd.Series).rename(columns = lambda x : 'digit_' + str(x+1))

,digit_1,digit_2,digit_3,digit_4,digit_5,digit_6,digit_7,digit_8,digit_9,digit_10,digit_11,digit_12,digit_13
197,5,5,7,6,6,8,9,6,6,4,8,9,5

# 9
A Pythagorean triplet is a set of three natural numbers, a < b < c, for which,

a2 + b2 = c2
For example, 32 + 42 = 9 + 16 = 25 = 52.

There exists exactly one Pythagorean triplet for which a + b + c = 1000.
Find the product abc.

In [226]:
for a in range(1,10):
    for b in range(1,10):
        for c in range(1,10):
            if a * a + b * b == c * c:
                print(a,b,c)

3 4 5
4 3 5

In [230]:
for a in range(1,1000):
    for b in range(1,1000):
        for c in range(1,1000):
            if (a + b + c == 1000) and ((a * a + b * b) == c * c) and (a<b<c):
                print(a,b,c)
                print(a * b * c)

200 375 425
31875000

# 10
The sum of the primes below 10 is 2 + 3 + 5 + 7 = 17.

Find the sum of all the primes below two million.

In [235]:
import math
prime_list = []
num = 2 # prime numbers are greater than 1
while num < 10 :
   
       # check for factors
    for i in range(2,int(math.sqrt(num) + 1)):
        if (num % i) == 0: # is not a prime number

            break
    else:
        prime_list.append(num)
    num += 1       
print(sum(prime_list))

17

In [236]:
import math
prime_list = []
num = 2 # prime numbers are greater than 1
while num < 2000000 :
   
       # check for factors
    for i in range(2,int(math.sqrt(num) + 1)):
        if (num % i) == 0: # is not a prime number

            break
    else:
        prime_list.append(num)
    num += 1       
print(sum(prime_list))

142913828922